<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://salesordermessagefunctionapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/6a89cbf8-d16e-4af5-9d2b-e286ea243a99/resourceGroups/Azure_Tarining_exercises/providers/Microsoft.Web/sites/SalesOrderMessageFunctionApp</ResourceId>
    <UserName>$SalesOrderMessageFunctionApp</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://salesordermessagefunctionapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>